/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
.boxed {
  border: 3px solid green ;
  font-size: large;
  width: 400px;
}

.random {
  font-size: large;
  width: 400px;
}

.pad{
  //border: 3px solid blue;
  padding-left: 75px;
  font-size: large;
  //background-color: yellow;
}
