/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
.boxed {
  border: 3px solid green ;
  font-size: large;
  width: 400px;
}
